
.footer{
    /* position: fixed; */
    bottom: 0;

    width: 100%;
    /* margin: auto auto 0 auto; */
    margin-bottom: 0;
    height: 600px;
    background-color: #f8f8f8;
    z-index: 1;
    margin-top: 100px;
}
.footer-space{
    max-width: 83%;
    margin: 0 auto ;
}
.service-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
}
.service-box{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 100%;
    border-left: 1px dashed rgba(0,0 ,0 , 0.6);
    
   
}
.service-box h5{
    font-weight: 500;
    color: #222;
    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
}
.service-box img{
    margin-right: 20px;
}

.service-image img{
    height: 38px;
    width: 38px;
    
}
.footer-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fastkart{
    width: 100%;
    max-width: 290px;   
}
.fastkart p{
    margin-top: 15px;
    opacity: 0.9    ;
    line-height: 1.8;
}
.add{
    margin-top: 10px;
}
.add svg{
    height: 18px;
    width: 18px;
    margin-right: 5px;
    opacity: 0.9    ;
}
.add:hover{
    color: #dba25b;
    cursor: pointer;
}
.Categories ul{
    list-style: none;
    opacity: 0.8;
    font-size: 18px;
    margin-top: 10px;
   

}
.Categories ul:hover{
    cursor: pointer;
}
.Categories h4{
    line-height: 1.2;
}
.Categories ul li{
    margin-top: 20px;
    transition: 0.5s ease;
    
   
}
.Categories ul li:hover{
    color: #dba25b;
    list-style: block;
    transform: translate(10px,0);
    list-style-type: square;
    text-decoration: none;
    transition: 0.5s ease;

   
}
.Categories ul li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #dba25b;
    transition: all 0.3s ease-in-out;
}

.Categories ul li:hover::before{
    width: 100%;

}
.Categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */
}
.hotline{
    display: flex;
    margin: 20px;
}
.hotline svg{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}
.hotline247{
    max-width: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hotline247 span{
    margin-bottom: 10px;
}
.bonus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.bonus img{
    width: 302px;
    height: 35px;
}
.bonus span{
    opacity: 0.8;
}
.connected i{
    margin-right: 10px;
    transition: 0.25s ease;
    opacity: 0.8;

}

.connected i:hover{
    cursor: pointer;
    transform: translate(0,-5px);
}
