*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-time{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    margin-top: 30px;
    max-width: 948px;
    display: flex;
    flex-direction: row-reverse;

}