@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
body{
    font-family: "Public Sans",sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-space{
    max-width: 83%;
    margin: 0 auto ;
    margin-top: 100px;
    margin-bottom: 3000px;
    height: 500px;
}